/*-----------------------------------*\
  BASE
\*-----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800,700italic,800italic,700,600italic,600&subset=latin,vietnamese);

html,
body {
    width: 100%;
    height: 100%;
    font: 600 13px/30px Proxima Nova, Helvetica Neue, Helvetica, Open Sans, Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .03em;
}

body {
    color: #333;
    background-color: #fff;
    
}

a {
    color: #999; 
}

a:hover,
a:focus,
.active a{
    color: #333;
    text-decoration: none;
}


hr {
    height: 1px;
    background-color: #999;
    margin: 10px 0;
    border: 0 !important;
}


ul{
    margin: 0 auto !important;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    padding: 30px 46px 20px;
    position: relative;
    letter-spacing: .13em;
    
    text-transform: uppercase;
    webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    background: none;
}

li a:hover,
li a:focus,
li.active a{
    text-decoration: none;
    background:none !important;
}
.nav>li>a{
    padding: 5px 15px;   
}

.container{
    width: 100%;
    height: 100%;
    
}


/*-----------------------------------*\
  HEADER
\*-----------------------------------*/

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    
}

.navbar-toggle{
    margin-top: 35px;   
}

.meta{
    padding-left: 30px;
    position:fixed;
    bottom: 20px;
}

.navbar-inverse{
    background-color: #fff;   
}

.navbar-toggle .icon-bar{
    background-color: #333;   
}


.navbar {
    z-index: 9999;
}


/*-----------------------------------*\
  LEFT COLUMN
\*-----------------------------------*/

.xanhchi-logo img {
    height: 80px;
    width: auto;
}

/*-----------------------------------*\
  RIGHT COLUMN
\*-----------------------------------*/

.right-col{
    margin-top: 5px;
    margin-bottom: 5px;
}
.right-col img{
    width: 100%;   
}

.right-col > div{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}






/*-----------------------------------*\
  SINGLE
\*-----------------------------------*/
.tree-summary{
    margin:25px 0 0 25px;
    
}

.tree-name{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tree-name h4{
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: none;
}


.amount{
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
}


.tree-more-info{
    margin-top: 20px;
}   

.tree-more-info p{
    margin:0 0 10px 0; 
    
}

.tree-more-info p span{
    color: #999;
    
}



/*-----------------------------------*\
  MEDIA
\*-----------------------------------*/


@media (max-width: 650px) {
    .left-col {
        padding-top:10px;   
    }
    
    .nav,
    .xanhchi-logo{
        position:fixed;
    }
    
    .nav{
        position: relative;
        margin-top: 0 !important;
    }
    
    .xanhchi-logo{
        position:relative;
        padding-left:15px;   
        margin-top: -35px;
    } 
    
    .tree-summary{
        margin:25px 0 0 0;
    }
    
    .nav>li>a {
        padding: 5px 0px;
    }
    
    .meta{
        display: none;
    }
}

@media (min-width: 992px){
    .left-col {
        padding-top:30px;   
    }
    
    .nav,
    .xanhchi-logo{
        position:fixed;
    }
    
    .nav{
        margin-top: 80px !important;   
    }
    
    .xanhchi-logo{
        padding-left:25px;
        margin-top: -10px;
    }
}

@media (min-width: 651px) and (max-width: 991px) {

    .left-col{
        margin-top: 10px;
    }
    
    .nav{
        position: relative;
        margin-top: 0 !important;
    }
    
    .xanhchi-logo{
        position:relative;
        padding-left:15px;   
        margin-top: -35px;
    }   
    
    .tree-summary{
        margin:25px 0 0 0;
    }
    
    .nav>li>a {
        padding: 5px 0px;
    }
    
    .meta{
        display: none;
    }
}
